<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hersch.musicplayer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MicPlayer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service android:name="com.hersch.helloui.MusicService"/>
        <activity android:name="com.hersch.helloui.HelloActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hersch.helloui.LrcUi"
            android:theme="@style/LrcTheme"
            android:label="Lyric">
        </activity>
    </application>

</manifest>
