<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hersch.musicplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="MiniCCPlayer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.miniccmusicplayer.ui.MusicService" />

        <activity
            android:name="com.miniccmusicplayer.ui.MainActivity"
            android:theme="@style/BaseTheme" />
        <activity
            android:name="com.miniccmusicplayer.ui.LrcActivity"
            android:theme="@style/BaseTheme"></activity>
        <activity
            android:name="com.miniccmusicplayer.ui.HelloActivity"
            android:theme="@style/BaseTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.miniccmusicplayer.ui.LoginInActivity"
            android:theme="@style/BaseTheme"></activity>
        <activity
            android:name="com.miniccmusicplayer.ui.RegisterActivity"
            android:theme="@style/BaseTheme"></activity>
    </application>

</manifest>
